/* remove blue blurry outline on focused textboxes */
*:focus {
    outline: none;
}

textarea {
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    font-size: 48pt;
    font-family: monospace;
    user-select: none;
    /* disable automatic line breaks */
    white-space: nowrap;
    /* disable scrolling */
    overflow: hidden;
    /* disable resize control */
    resize: none;
    /* disable scrolling */
    overflow: hidden;
}

html, body {
    /* fill window */
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#container {
    /* fill window as flexbox container */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* add some padding */
    margin-left: 20px;
    margin-right: 20px;
    /* align child items to center */
    align-items: center;
    justify-content: center;
}

#reference-area, #userinput-area {
    /* divide window by half */
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#reference {
    /* put itself to the bottom of container */
    margin-top: auto;

}

#userinput, #userinput-dup {
    align-self: flex-start;
    /* let it fill the left half of page */
    flex: 1;
}

#userinput-dup {
    /* set a minimal width so we can get its content width by scrollWidth */
    width: 1px;
    visibility: hidden;
}

#type-margin {
    position: absolute;
    top: -100%;
    height: 200%;
    width: 0;
    border-style: dotted;
    border-color: lightgreen;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
